extends layout

block content
  div#question.container
    if type 
      img.img-fluid(src='img/meat/quest/poulet.jpg', alt='Responsive image') 
      div.row
        div.col-md-6
          div.questionButton
            a(href='#') 
              img.img-fluid(src='img/frontend/button-layout-A.svg', alt='Responsive image') 
              span= reponse1
        div.col-md-6
          div.questionButton
            a(href='#')
              img.img-fluid(src='img/frontend/button-layout-B.svg', alt='Responsive image')
              span= reponse2
      div.row
        div.col-md-6
          div.questionButton
            a(href='#')
              img.img-fluid(src='img/frontend/button-layout-C.svg', alt='Responsive image')
              span= reponse3
        div.col-md-6
          div.questionButton
            a(href='#')
              img.img-fluid(src='img/frontend/button-layout-D.svg', alt='Responsive image')
              span= reponse4      
    else 
      div.text-center
        p= 'hello'
      div.row
        div.col-md-6
          div.questionButton
            a(href='#') 
              img.img-fluid(src='img/frontend/button-layout-A.svg', alt='Responsive image') 
              span= reponse1
        div.col-md-6
          div.questionButton
            a(href='#')
              img.img-fluid(src='img/frontend/button-layout-B.svg', alt='Responsive image')
              span= reponse2
      div.row
        div.col-md-6
          div.questionButton
            a(href='#')
              img.img-fluid(src='img/frontend/button-layout-C.svg', alt='Responsive image')
              span= reponse3
        div.col-md-6
          div.questionButton
            a(href='#')
              img.img-fluid(src='img/frontend/button-layout-D.svg', alt='Responsive image')
              span= reponse4
